.vulnerabilities-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.cve {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:100%;
    position: relative;
}

.cve-title {
    color: #37474F;
    font-size: 1em; /* Adjust the size to make it smaller if needed */
    margin-bottom: 10px;
}

.cve-description {
    font-size: 0.8em; /* Adjust the size to make it smaller if needed */
    margin-bottom: 10px;
    color: #546E7A;
}

.cve-details {
    font-size: 0.8em;
    color: #78909C;
}

.cve-details span {
    display: block;
    margin-bottom: 5px;
}

.cvss-score {
    font-weight: bold;
    color: #D32F2F;
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
    .vulnerabilities-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .vulnerabilities-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .vulnerabilities-list {
        grid-template-columns: 1fr;
    }
    .cve-details span {
        display: inline-block;
        margin-right: 10px;
    }
}

.main-header select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B0BEC5;
}

.ellipsis {
    display: none;
}

.more-text {
    display: none;
}

.view-more-btn {
    background: none;
    border: none;
    color: #2196F3;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: inline;
    margin-left: 5px;
}

.view-more-btn:hover {
    text-decoration: underline;
}

.cve-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cve-tags {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between tags */
}

.cve-tag {
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 0.75em; /* Smaller font size */
    white-space: nowrap; /* Prevent wrapping */
}

/* Reuse the critical color for the 'Known Exploited' tag */
.known-exploited {
    background-color: #D32F2F; /* Same as critical */
}

/* Color coding for criticality levels */
.Critical { background-color: #D32F2F; }
.High { background-color: #FF5722; }
.Medium { background-color: #FFC107; }
.Low { background-color: #8BC34A; }
.Informational { background-color: #00BCD4; }

.cve-keywords {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background: #E0E0E0; /* Light gray background */
    color: #333;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.7em; /* Smaller font size for the keywords */
    text-align: right;
    max-width: 50%; /* Limit the width of the keywords section */
    overflow: hidden; /* Prevent the content from spilling out */
    text-overflow: ellipsis; /* Add an ellipsis if the content is too long */
    white-space: nowrap; /* Keep the content on one line */
}

