.vulnerabilities-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Reduce the gap between items */
    margin-bottom: 10px; /* Reduce the bottom margin */
}

.cve {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Reduce the padding */
    margin-bottom: 10px; /* Reduce the bottom margin */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
}

.cve-title {
    color: #37474F;
    font-size: 0.85em; /* Smaller font size */
    margin-bottom: 8px; /* Reduce the margin */
}

.cve-description {
    font-size: 0.7em; /* Smaller font size */
    margin-bottom: 8px; /* Reduce the margin */
    color: #546E7A;
}

.cve-details {
    font-size: 0.7em; /* Smaller font size */
    color: #78909C;
}

.cve-details span {
    display: block;
    margin-bottom: 5px;
}

.cvss-score {
    font-weight: bold;
    color: #D32F2F;
}

.main-header select {
    padding: 5px; /* Reduce padding */
    border-radius: 5px;
    border: 1px solid #B0BEC5;
}

.ellipsis {
    display: none;
}

.more-text {
    display: none;
}

.view-more-btn {
    background: none;
    border: none;
    color: #2196F3;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: inline;
    margin-left: 3px; /* Reduce margin */
}

.view-more-btn:hover {
    text-decoration: underline;
}

.cve-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cve-tags {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce the space between tags */
}

.cve-tag {
    padding: 2px 6px; /* Adjust padding */
    border-radius: 4px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 0.6em; /* Smaller font size */
    white-space: nowrap; /* Prevent wrapping */
}

.known-exploited {
    background-color: #D32F2F; /* Same as critical */
}

.Critical { background-color: #D32F2F; }
.High { background-color: #FF5722; }
.Medium { background-color: #FFC107; }
.Low { background-color: #8BC34A; }
.Informational { background-color: #00BCD4; }

.cve-keywords {
    position: absolute;
    bottom: 8px; /* Adjust as needed */
    right: 8px; /* Adjust as needed */
    background: #E0E0E0; /* Light gray background */
    color: #333;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.6em; /* Smaller font size */
    text-align: right;
    max-width: 50%; /* Limit the width of the keywords section */
    overflow: hidden; /* Prevent the content from spilling out */
    text-overflow: ellipsis; /* Add an ellipsis if the content is too long */
    white-space: nowrap; /* Keep the content on one line */
}

.cve-table table {
    width:100%;
    margin:auto;
}