{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
<link rel="stylesheet" href="{% static 'css/cve_table.css' %}">

{% block content %}


    <main class="main-content">
    <h1>All Subscriptions</h1>
    <table>
        <thead>
            <tr>
                <th>Subscription</th>
                <th>Vulnerabilities</th>
                <th>Vulnerabilities detail</th>
                <th>Resource Groups</th>
                <th style="width:100px">Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in subscription_details %}
                <tr>
                    <td><a href="{% url 'devices_in_subscription' subscription_id=detail.subscription.subscription_id %}">{{ detail.subscription.display_name }}</a></td>
                    <td>{{ detail.total_vulnerability_count }}</td>
                    <td>
                        {% for key, value in detail.vulnerability_count.items %}
                            {% if value != 0 %}
                                {{ key }}: {{ value }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ detail.resource_group_count }}</td>
                    <td>
                        <div class="comment-form">
                            <form action="{% url 'add_comment' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="subscription_id" value="{{ detail.subscription.subscription_id }}">
                                <input type="hidden" name="comment_type" value="subscription">

                                <div class="comment-form-controls">
                                    <textarea name="comment_content">{{ detail.latest_comment }}</textarea>
                                    <button type="submit">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock %}