{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
<link rel="stylesheet" href="{% static 'css/cve_table.css' %}">

{% block content %}
<main class="main-content">
    <h1>All Subscriptions</h1>

    <div class="update-all-button-wrapper">
        <button type="submit" form="update-all-comments-form" class="update-all-button">Update All Comments</button>
    </div>

    <form id="update-all-comments-form" action="{% url 'update_all_comments' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Subscription</th>
                    <th>Vulnerabilities</th>
                    <th>Vulnerabilities detail</th>
                    <th>Resource Groups</th>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in subscription_details %}
                    <tr>
                        <td><a href="{% url 'devices_in_subscription' subscription_id=detail.subscription.subscription_id %}">{{ detail.subscription.display_name }}</a></td>
                        <td>{{ detail.total_vulnerability_count }}</td>
                        <td>
                            {% for key, value in detail.vulnerability_count.items %}
                                {% if value != 0 %}
                                    {{ key }}: {{ value }}<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ detail.resource_group_count }}</td>
                        <td>
                            <div class="comment-form-controls">
                                <input type="hidden" name="subscription_id_{{ forloop.counter }}" value="{{ detail.subscription.subscription_id }}">
                                <textarea name="comment_content_{{ forloop.counter }}" class="comment-textarea">{{ detail.latest_comment }}</textarea>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</main>
{% endblock %}
