{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
<link rel="stylesheet" href="{% static 'css/cve_table.css' %}">

{% block content %}


    <main class="main-content">
    <h1>All Subscriptions</h1>
    <table>
        <thead>
            <tr>
                <th>Subscription</th>
                <th>Vulnerabilities</th>
                <th>Vulnerabilities detail</th>
                <th>Resource Groups</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in subscription_details %}
                <tr>
                    <td><a href="{% url 'devices_in_subscription' subscription_id=detail.subscription.subscription_id %}">{{ detail.subscription.display_name }}</a></td>
                    <td>{{ detail.total_vulnerability_count }}</td>
                    <td>
                        {% for key, value in detail.vulnerability_count.items %}
                            {% if value != 0 %}
                                {{ key }}: {{ value }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ detail.resource_group_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock %}