{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vulnerability Dashboard</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% block extra_header %}

{% endblock %}

</head>
<body>

<div class="top-nav">
    <a href="{% url 'home' %}" class="top-nav-brand">VulnTracker</a>
    <nav class="top-nav-menu">
        <ul>
            <li class="dropdown">
                <a href="{% url 'home' %}" class="dropbtn">CVE</a>
                <div class="dropdown-content">
                    <a href="{% url 'keywords' %}">Keywords</a>
                    <a href="{% url 'blacklist' %}">Blacklist</a>
                </div>
            </li>            
            <li class="dropdown">
                <a href="{% url 'cmdb' %}" class="dropbtn">CMDB</a>
                <div class="dropdown-content">
                    <a href="{% url 'create_cmdb_entry' %}">New entry</a>
                </div>
            </li>           
            <li class="dropdown">
                <a href="{% url 'ticket_list' %}" class="dropbtn">Tickets</a>
                <div class="dropdown-content">
                    <a href="{% url 'create_ticket' %}">Create ticket</a>
                </div>
            </li>  
            <li class="dropdown">
                <a href="{% url 'public_ip_list' %}" class="dropbtn">Public IPs</a>
                <div class="dropdown-content">
                    <a href="{% url 'upload_public_ip_csv' %}">Add IP list</a>
                </div>
            </li>  

            <li class="dropdown">
                <a href="{% url 'defender_vulnerabilities' %}" class="dropbtn">Vulnerabilities</a>
                <div class="dropdown-content">
                    <a href="{% url 'display_all_subscriptions' %}">Subscriptions</a>
                </div>
            </li>  



        </ul>
    </nav>
</div>


    {% block content %}

    {% endblock %}

<script src="{% static 'js/base.js' %}"></script>
</body>
</html>