{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/keyword.css' %}">
{% endblock %}
{% block content %}


<div class="keyword-section">
    <h2>Add a Blacklisted word</h2>
    <form method="post" class="form-keyword-add">
        {% csrf_token %}
        {{ blacklist_form.as_p }}
        <input type="submit" name="submit_blacklist" value="Add Blacklisted word">
    </form>

    <h3>Existing Blacklisted words:</h3>
    <input type="text" id="keyword-search" placeholder="Search blacklisted words..." class="keyword-search">
    <ul id="keyword-list">
        {% for word in blacklist %}
            <li>
                {{ word.word }}
                <span class="delete-btn" data-id="{{ word.id }}">X</span>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var searchInput = document.getElementById('keyword-search');
    var keywordList = document.getElementById('keyword-list').getElementsByTagName('li');

    searchInput.addEventListener('keyup', function(e) {
        var searchTerm = e.target.value.toLowerCase();
        Array.from(keywordList).forEach(function(keyword) {
            if (keyword.textContent.toLowerCase().indexOf(searchTerm) > -1) {
                keyword.style.display = '';
            } else {
                keyword.style.display = 'none';
            }
        });
    });
});

document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', function() {
        const wordId = this.getAttribute('data-id');
        fetch(`/cve/delete/blacklist/${wordId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
        .then(response => {
            if (response.ok) {
                this.parentNode.remove(); // Remove the word from the list
            } else {
                alert('There was an error. Please try again.');
            }
        });
    });
});

    // Function to get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


</script>
{% endblock %}
