{% load form_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
<link rel="stylesheet" href="{% static 'css/cve_table.css' %}">

<div clas="dashboard-container">
<main class="main-content" style="width:100%">
    <div class="scan-status-container">
    {% if scan_status %}
        {% for latest_scan in scan_status %}
            <div class="scan-status">
                <div class="scan-header">
                    <h2 class="status-title">{{ latest_scan.scan_type }}</h2>
                    <p class="time-ago">{{ latest_scan.completed_at|timesince }} ago</p>
                </div>
                <p class="status-info">Status:
                    {% if latest_scan.status == "success" %}
                        <span class="status-icon status-success"></span> Completed 
                    {% else %}
                        <span class="status-icon status-error"></span> Error
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="status-title">No scans have been performed yet.</h2>
    {% endif %}
</div>


    <div class="filter-section">
        <div class="filter-header">
            <h2>CVE</h2>
        </div>
        <div class="filter-controls">
            <div class="date-filter">
                <select id="date-filter-select">
                    <option value="past_day" {% if current_date_filter == 'past_day' %}selected{% endif %}>Past Day</option>
                    <option value="past_week" {% if current_date_filter == 'past_week' %}selected{% endif %}>Past Week</option>
                    <option value="past_weekend" {% if current_date_filter == 'past_weekend' %}selected{% endif %}>Past Weekend</option>
                    <option value="this_month" {% if current_date_filter == 'this_month' %}selected{% endif %}>This Month</option>
                </select>
            </div>

                <div class="keyword-filter" style="margin-top:8px">

                    <input type="checkbox" id="filter-keywords" class="sr-only" {% if request.GET.keywords == 'true' %}checked{% endif %}>
                    <label for="filter-keywords" class="keyword-button">Keywords</label>
                </div>

                <div class="search-filter">
                    <input type="search" id="search-input" placeholder="Search vulnerabilities...">
                </div>

            <div class="sort-filter">
       
            <select id="sort-select">
                <option value="cvss_score_desc" {% if current_sort == 'cvss_score_desc' %}selected{% endif %}>Highest CVSS Score</option>
                <option value="cvss_score_asc" {% if current_sort == 'cvss_score_asc' %}selected{% endif %}>Lowest CVSS Score</option>
                <option value="date_desc" {% if current_sort == 'date_desc' %}selected{% endif %}>Newest First</option>
                <option value="date_asc" {% if current_sort == 'date_asc' %}selected{% endif %}>Oldest First</option>
            </select>
        </div>
    </div>
</div> 

<div class="cve-table">
    <table>
        <thead>
            <tr>
                <th>CVE</th>
                <th>CVSS Score</th>
                <th>Description</th>
                <th>Affected systems</th>
                <th>Published</th>
                <th>Last Modified</th>
            </tr>
        </thead>


        <tbody>
            {% for cve in cves %}
            <tr class="cve-article">
                <td>
                    <a style="text-decoration: none; color: black;" target="_blank" href="https://nvd.nist.gov/vuln/detail/{{ cve.cve_id }}"><span class="cve-title">{{ cve.cve_id }}</span></a>
                </td>
                {% if cve|get_criticality_level == "Critical" %}
                    <td class="cvss-score-td" style="background-color: #D32F2F;">{{ cve.cvss_score }} </td>
                {% elif cve|get_criticality_level == "High" %}
                    <td class="cvss-score-td" style="background-color: #FF5722;">{{ cve.cvss_score }} </td>
                {% elif cve|get_criticality_level == "Medium" %}
                    <td class="cvss-score-td" style="background-color: #FFC107;">{{ cve.cvss_score }} </td>
                {% elif cve|get_criticality_level == "Low" %}
                    <td class="cvss-score-td" style="background-color: #8BC34A;">{{ cve.cvss_score }} </td>
                {% else %}
                    <td class="cvss-score-td" style="background-color: #00BCD4;">N/A</td>
                {% endif %}

                <td style="max-width:400px">
                    <p class="cve-description" style="display: none;">{{ cve.description }}</p>
                    <p>{{ cve.description|slice:":300" }}</p>
                    {% if cve.description|length > 300 %}
                        <span class="ellipsis">...</span>
                        <span class="more-text"><p>{{ cve.description|slice:"300:" }}</p></span>
                        <button class="view-more-btn" onclick="toggleDescription(this)">View More</button>
                    {% endif %}
                    
                </td>
                <td>{{ cve.keywords }}</td>
                <td>{{ cve.published_date|date:"M d, Y" }}</td>
                <td>{{ cve.last_modified_date|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>

</main>


<script>

document.addEventListener('DOMContentLoaded', function() {
    var searchInput = document.getElementById('search-input');
    var cveArticles = document.querySelectorAll('.cve-article');
    var sortSelect = document.getElementById('sort-select');


    searchInput.addEventListener('keyup', function(e) {
        var searchTerm = e.target.value.toLowerCase();
        cveArticles.forEach(function(tr) {
            var title = tr.querySelector('.cve-title').textContent.toLowerCase();
            var description = tr.querySelector('.cve-description').innerText.toLowerCase(); // Use innerText to get the full text
            var keywords = tr.querySelector('.cve-keywords').textContent.toLowerCase();

            if (title.includes(searchTerm) || description.includes(searchTerm) || keywords.includes(searchTerm)) {
                tr.style.display = '';
            } else {
                tr.style.display = 'none';
            }
        });
    });

    sortSelect.addEventListener('change', function(e) {
        var selectedOption = e.target.value;
        var queryParams = new URLSearchParams(window.location.search);

        // Update the 'sort_by' parameter based on the selected option
        queryParams.set('sort_by', selectedOption);

        // Update the page URL
        window.location.search = queryParams.toString();
    });

    // Handle date filter change
    var dateFilterSelect = document.getElementById('date-filter-select');
    dateFilterSelect.addEventListener('change', function(e) {
        var selectedOption = e.target.value;
        var queryParams = new URLSearchParams(window.location.search);
        
        // Update the 'date_filter' parameter based on the selected option
        queryParams.set('date_filter', selectedOption);

        // Update the page URL
        window.location.search = queryParams.toString();
    });
    
    var filterKeywordsCheckbox = document.getElementById('filter-keywords');
    filterKeywordsCheckbox.addEventListener('change', function(e) {
        var queryParams = new URLSearchParams(window.location.search);
        
        // Toggle the 'keywords' parameter based on checkbox state
        if (this.checked) {
            queryParams.set('keywords', 'true');
        } else {
            queryParams.delete('keywords');
        }

        // Prevent the default action to maintain the checkbox state until the page reloads
        e.preventDefault();

        // Update the page URL and reload
        window.location.search = queryParams.toString();
    });

});


</script>