{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
 
    
    <main class="main-content">
    <div class="filter-section">
        <div class="filter-header">
            <h2>Nessus</h2>
            
        </div>
        <div class="filter-controls">
            
                <div class="search-filter">
                    <input type="search" id="search-input" placeholder="Search vulnerabilities...">
                </div>
            </div>
        </div>



    {% if nessus_data %}
        <table>
            <tr>
                <th>Plugin ID</th>
                <th>CVE</th>
                <th>CVSS Score</th>
                <th>Risk</th>
                <th>Name</th>
                <th>Affected Hosts</th> <!-- New column for Affected Hosts -->
            </tr>
            {% for item in nessus_data %}
                <tr>
                    <td><a href="https://www.tenable.com/plugins/nessus/{{ item.Plugin_ID }}" target="_blank">{{ item.Plugin_ID }}</a></td>
                    {% if item.CVE %}
                        <td class="cve-title"><a href="https://nvd.nist.gov/vuln/detail/{{ item.CVE }}" target="_blank">{{ item.CVE }}</a></td>
                        {% if item.Risk == "Critical" %}
                            <td class="cvss-score-td" style="background-color: #D32F2F;">{{ item.CVSS_v2_0_Base_Score }} </td>
                        {% elif item.Risk == "High" %}
                            <td class="cvss-score-td" style="background-color: #FF5722;">{{ item.CVSS_v2_0_Base_Score }} </td>
                        {% elif item.Risk == "Medium" %}
                            <td class="cvss-score-td" style="background-color: #FFC107;">{{ item.CVSS_v2_0_Base_Score }} </td>
                        {% elif item.Risk == "Low" %}
                            <td class="cvss-score-td" style="background-color: #8BC34A;">{{ item.CVSS_v2_0_Base_Score }} </td>
                        {% else %}
                            <td class="cvss-score-td" style="background-color: #00BCD4;">N/A</td>
                        {% endif %}
                    {% else %}
                        <td>Ingen CVE tilgjengelig</td>
                        <td class="cvss-score-td" style="background-color: #00BCD4;">N/A</td>
                    {% endif %}

                        {% if item.Risk == "Critical" %}
                            <td class="cvss-score-td" style="background-color: #D32F2F;">{{ item.Risk }} </td>
                        {% elif item.Risk == "High" %}
                            <td class="cvss-score-td" style="background-color: #FF5722;">{{ item.Risk }} </td>
                        {% elif item.Risk == "Medium" %}
                            <td class="cvss-score-td" style="background-color: #FFC107;">{{ item.Risk }} </td>
                        {% elif item.Risk == "Low" %}
                            <td class="cvss-score-td" style="background-color: #8BC34A;">{{ item.Risk }} </td>
                        {% else %}
                            <td class="cvss-score-td" style="background-color: #00BCD4;">N/A</td>
                        {% endif %}
                    <td class="cve-description">{{ item.Name }}</td>
                    <td><a href="{% url 'nessus_plugin_details' item.Plugin_ID %}">{{ item.Affected_Hosts }}</a></td>
                </tr>
                {% endfor %}


        </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}


{% endblock %}




