{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">
 
    
    <main class="main-content">
    <div class="filter-section">
        <div class="filter-header">
            <h2>Nessus</h2>
            
        </div>
        <div class="filter-controls">
            <div class="date-filter">
                <select id="date-filter-select">
                    <option value="past_day" {% if current_date_filter == 'past_day' %}selected{% endif %}>Past Day</option>
                    <option value="past_week" {% if current_date_filter == 'past_week' %}selected{% endif %}>Past Week</option>
                    <option value="past_weekend" {% if current_date_filter == 'past_weekend' %}selected{% endif %}>Past Weekend</option>
                    <option value="this_month" {% if current_date_filter == 'this_month' %}selected{% endif %}>This Month</option>
                </select>
            </div>

                <div class="keyword-filter" style="margin-top:8px">

                    <input type="checkbox" id="filter-keywords" class="sr-only" {% if request.GET.keywords == 'true' %}checked{% endif %}>
                    <label for="filter-keywords" class="keyword-button">CVEs with Keywords</label>
                </div>

                <div class="search-filter">
                    <input type="search" id="search-input" placeholder="Search vulnerabilities...">
                </div>

            <div class="sort-filter">
       
            <select id="sort-select">
                <option value="cvss_score_desc" {% if current_sort == 'cvss_score_desc' %}selected{% endif %}>Highest CVSS Score</option>
                <option value="cvss_score_asc" {% if current_sort == 'cvss_score_asc' %}selected{% endif %}>Lowest CVSS Score</option>
                <option value="date_desc" {% if current_sort == 'date_desc' %}selected{% endif %}>Newest First</option>
                <option value="date_asc" {% if current_sort == 'date_asc' %}selected{% endif %}>Oldest First</option>
            </select>
            </div>
            </div>
        </div>


    {% if nessus_data %}
        <table>
            <tr>
                <th>Plugin ID</th>
                <th>CVE</th>
                <th>CVSS v2.0 Base Score</th>
                <th>Risk</th>
                <th>Name</th>
                <th>Affected Hosts</th> <!-- New column for Affected Hosts -->
            </tr>
            {% for item in nessus_data %}
                <tr>
                    <td><a href="https://www.tenable.com/plugins/nessus/{{ item.Plugin_ID }}" target="_blank">{{ item.Plugin_ID }}</a></td>
                    {% if item.CVE %}
                        <td><a href="https://nvd.nist.gov/vuln/detail/{{ item.CVE }}" target="_blank">{{ item.CVE }}</a></td>
                        <td>{{ item.CVSS_v2_0_Base_Score }}</td>
                    {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                    {% endif %}
                    <td>{{ item.Risk }}</td>
                    <td>{{ item.Name }}</td>
                    <td><a href="{% url 'nessus_plugin_details' item.Plugin_ID %}">{{ item.Affected_Hosts }}</a></td>
                </tr>
                {% endfor %}


        </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}


{% endblock %}




